body{
    background-color: #0078A6;
    margin: 0;
    padding: 0;
}

.undoH2{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    width: 186px;
    height: 72px;

    margin-top: 200px;
    padding-left: 30px;

    font-family: Sansation;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 72px;
    /* identical to box height */


    color: #00CE79;
}

.input-1{
    width: 597px;
    height: 64px;

    margin-bottom: 50px;

    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;

    font-family: Sansation;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;

    color: #808080;
}

.input_button{
    position: relative;

   width: 597px;
   height: 64px;
   
   background: #00CE79;
   border: 2px solid #C4C4C4;
   box-sizing: border-box;

   font-family: Sansation;
   font-style: normal;
   font-weight: normal;
   font-size: 48px;
   line-height: 54px;
   /* identical to box height */


   color: #FFFFFF;
}

.forRegistr{
    display: flex;
    justify-content: center;

    width: 597px;
    height: 34px;

    font-family: Sansation;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    /* identical to box height */


    color: #00CE79;
}